@charset "UTF-8";

/* ================================================
COLORS
================================================ */
:root {
--main-color: #DBBB99; /* Beige */
--base-color: #FFF9F2; /* OfWhite */
--accent-color: #23817A; /* Green */
--sub-color: #F4E0CB; /* Pale Beige */
--text-color: #6B3A03; /* Brown */
--link-color: #0069ff;
--white: #fff;
--dark-gray: #333;
}

/* ================================================
GENERAL STYLING
================================================ */
html {
  font-size: 100%;
  scroll-behavior: smooth; /* スムーズスクロール */
}
body {
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "palt";
  line-height: 1.5;
  overflow-x: hidden;
}

/* ================================================
COMMON SETTING
================================================ */
a {
  color: var(--link-color);
}
img {
  max-width: 100%;
}
p {
  line-height: 2;
  text-align: justify;
}
/* コンテンツの共通レイアウト（上下の余白以外）
------------------------------------------------ */
/* スマートフォン表示 */
.contents-layout {
  padding-right: 5.33333%;
  padding-left: 5.33333%;
}
/* デスクトップ表示 */
@media screen and (min-width: 768px) {
  .contents-layout {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }
}
/* ボタン
------------------------------------------------ */
.btn {
  display: inline-block;
  top: -2px;
  max-width: 100%;
  padding-top: .62rem;
  padding-right: 3rem;
  padding-bottom: .62rem;
  padding-left: 3rem;
  background-color: var(--accent-color);
  border: 2px solid transparent;
  border-radius: 3.125rem;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.20);
  color: var(--white);
  font-size: 1rem;
  transition: .8s;
}
.btn:focus,
.btn:hover {
  top: 1px;
  background-color: var(--white);
  border-color: var(--accent-color);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20);
  color: var(--accent-color);
}
/* 拡張パターン（テキストの前にアイコンを設置） */
.btn--before-icon {
  position: relative;
  padding-right: 1.38em;
  padding-left: 3.125em;
}
.btn--before-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: .812em;
  font-family:"Material Symbols Outlined";
  font-size: 1.875rem;
  transform: translateY(-50%);
}
/* 本のアイコン */
.btn--before-icon.book-icon::before {
  content: "\ea19";
}
/* 電話のアイコン */
.btn--before-icon.tel-icon::before {
  content: "\e0b0";
}
/* メールのアイコン */
.btn--before-icon.mail-icon::before {
  content: "\e158";
}
/* ボタン デスクトップ表示 */
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.125rem;
  }
}
/* h2見出し
------------------------------------------------ */
.level2-heading {
  margin-bottom: 1.875rem;
  font-family: "Hiragino Mincho ProN";
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
  text-align: center;
}
/* h2見出し デスクトップ表示 */
@media screen and (min-width: 768px) {
  .level2-heading {
    margin-bottom: 5rem;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
  }
}
/* 波形の背景（上部・下部のパーツ）
------------------------------------------------ */
.wave-top {
  transform: translateY(1px);
}
.wave-bottom {
  transform: translateY(-1px);
}

/* ================================================
HELPER MODULE
================================================ */
/*	背景色
------------------------------------------------ */
.bg-color-main {
  background-color: var(--main-color);
}
.bg-color-base {
  background-color: var(--base-color);
}
.bg-color-sub {
  background-color: var(--sub-color);
}
.bg-color-white {
  background-color: var(--white);
}
/* スマートフォン版・デスクトップ版のみ表示する
------------------------------------------------ */
@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .sp-only {
    display: none;
  }
}

/* ================================================
ヘッダー
================================================ */
.header__inner {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
/* スマートフォン版のみ設定（スライドメニュー）
------------------------------------------------ */
@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 5.625rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .header__logo {
    width: 7.6875rem;
    height: 1.66969rem;
  }
  .header__btn-line {
    display: inline-block;
    position: absolute;
    top: 2.08rem;
    right: 1.25rem;
    z-index: 4;
    display: block;
    width: 30px;
    height: 2.5px;
    background-color: var(--white);
  }
  .header__btn-line::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    width: 30px;
    height: 2.5px;
    background-color: var(--white);
    transition: .3s;
  }
  .header__btn-line::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 10px;
    width: 30px;
    height: 2.5px;
    background-color: var(--white);
    transition: .3s;
  }
  /* メニューパネルが開いたら三本線の真ん中のラインを消す */
  .header__btn.is_active .header__btn-line {
    background-color: transparent;
  }
  /* メニューパネルが開いたら✕マークにする */
  .header__btn.is_active .header__btn-line::before {
    transform: rotate(35deg);
    transform-origin: left top;
  }
  .header__btn.is_active .header__btn-line::after {
    top: 7px;
    left: -1.5px;
    transform: rotate(-35deg);
    transform-origin: left top;
  }
  .header__nav-panel  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    padding-top: 8.535rem;
    padding-right: 5.62rem;
    padding-bottom: 3.12rem;
    padding-left: 4.94rem;
    background-color: var(--main-color);
    background-image: url(../images/logo-white.png);
    background-position: 1.25rem 1.875rem;
    background-repeat: no-repeat;
    background-size: 7.6875rem;
    transition: .8s;
    translate: 100vw;
  }
  .header__nav-panel.is_active {
    translate: 0;
  }
  .header__nav-item {
    margin-bottom: 2.5rem;
  }
  .header__nav-link {
    color: var(--white);
  }
  /* ボタンの装飾を消す */
  .header__nav-btn {
    display: inline-block;
    top: 0px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: transparent;
    border: none;
    border-radius: none;
    box-shadow: none;
    transition: none;
  }
  .header__nav-btn.btn--before-icon {
    padding-right: 0em;
    padding-left: 2.25em;
  }
  .header__nav-btn.btn--before-icon::before {
    left: 0;
    font-size: 1.625rem;
  }
  .header__nav-btn.btn:focus,
  .header__nav-btn.btn:hover {
  top: 0px;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: var(--white);
}
}
/* ヘッダーのデスクトップ表示
------------------------------------------------ */
@media screen and (min-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 99;
    height: 12vh;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--main-color);
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;
    height: 100%;
  }
  .header__nav {
    display: flex;
  }
  .header__logo {
    width: 13.8125rem;
    height: 3rem;
  }
  .header__nav-list {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    height: 100%;
  }
  .header__nav-link {
    color: var(--white);
    font-size: 1.125rem;
    transition: .8s;
  }
  .header__nav-link:focus,
  .header__nav-link:hover {
  color: var(--text-color);
  }
}

/* ================================================
メインビジュアル
================================================ */
.main-visual {
  padding-top: 90px;
  width: 100%;
  height: 100vh;
  background-image: url(../images/main-visual_sp.jpg);
  background-size: cover;
}
.main-visual__title {
  padding-top: 30vh;
  color: var(--white);
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  line-height: 1;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-visual__sub-title-area {
  display: grid;
  place-items: center;
  padding-top: 3rem;
  padding-right: 1.25rem;
  padding-bottom: 3rem;
  padding-left: 1.25rem;
  width: 100%;
  background-color: var(--white);
  opacity: .8;
}
.main-visual__sub-title {
  margin-bottom: .5rem;
  font-family: "hiragino-mincho-pron", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.125rem;
  letter-spacing: 0.1125rem;
  line-height: 150%; /* 1.125rem */
  text-align: center;
}
.main-visual__catch-copy {
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: normal;
  line-height: 150%; /* 1.125rem */
  letter-spacing: 0.15rem;
}
/* メインビジュアル デスクトップ表示
------------------------------------------------ */
@media screen and (min-width: 768px) {
  .main-visual {
    height: 88vh;
    background-image: url(../images/main-visual_pc.jpg);
  }
  .main-visual__title {
    padding-top: 35vh;
    font-size: 6.875rem;
  }
  .main-visual__sub-title {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
  .main-visual__catch-copy {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
}

/* ================================================
コンセプト
================================================ */
.concept {
  padding-top: 3.12rem;
  padding-bottom: 3.75rem;
}
.concept__item {
  margin-bottom: 3.12rem;
}
.concept__image-wrapper {
  margin-bottom: 2.11rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.concept__title {
  margin-bottom: .31rem;
  text-align: center;
  font-size: 1.125rem;
  letter-spacing: 0.16875rem;
}
.concept__sub-title {
  margin-bottom: 1.25rem;
  color: var(--main-color);
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  letter-spacing: 0.175rem;
  text-align: center;
}
.concept__text {
  font-size: 0.75rem;
  line-height: 2.5; /* 1.875rem */
}
/* コンセプトのデスクトップ表示
------------------------------------------------ */
@media screen and (min-width: 768px) {
  .concept {
    padding-top: 6.44rem;
    padding-bottom: 9.19rem;
    background-image: url(../images/concept-subtitle.png);
    background-repeat: no-repeat;
    background-position: 4.5rem 0;
    background-size: 1.125rem;
  }
  .concept__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin-bottom: 9.37rem;
  }
  .concept__image-wrapper {
    width: 100%;
    margin-bottom: 0;
  }
  .concept__title {
    margin-bottom: 3.75rem;
    font-size: 1.625rem;
    letter-spacing: 0.24375rem;
  }
  .concept__sub-title {
    display: none;
  }
  .concept__text {
    font-size: 1rem;
    line-height: 2.5; /* 1.875rem */
  }
}
/* 右から左へスライドするギャラリー
------------------------------------------------ */
.gallery__slider {
  display: flex;
    animation: slide-sp 40s linear infinite;
}
.gallery__image {
  width: 46.6666vw;
}
/* ギャラリーのデスクトップ表示 */
@media screen and (min-width: 768px) {
  .gallery__slider {
    display: flex;
      animation: slide-pc 50s linear infinite;
  }
  .gallery__image {
    width: 24.30555vw;
  }
}
/* スライドアニメーション */
@keyframes slide-sp {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-234%);
  }
}
@keyframes slide-pc {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-121.5%);
  }
}

/* ================================================
こだわり
================================================ */
.commitment {
  padding-top: 1.875rem;
  padding-bottom: 1.81rem;
}
.commitment__item {
  margin-bottom: 5rem;
}
.commitment__item:last-child {
  margin-bottom: 0;
}
.commitment__image-wrapper {
  margin-bottom: 1.25rem;
}
.commitment__title {
  display: inline-block;
  padding-bottom: 0.3125rem;;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  border-bottom: 1px solid var(--text-color);
}
.commitment__text {
  font-size: 0.875rem;
}
/* こだわりのデスクトップ表示
------------------------------------------------ */
@media screen and (min-width: 768px) {
  .commitment {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .commitment__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8vw;
    margin-bottom: 12.5rem;
  }
  .commitment__item:last-child {
    margin-bottom: 0;
  }
  .commitment__item.commitment__item--row-reverse {
    flex-direction: row-reverse;
  }
  .commitment__image-wrapper {
    flex: 1 0 49%;
    width: 37.5vw;
    margin-bottom: 0;
  }
  .commitment__text-area {
    flex: 1 0 40.5%;
  }
  .commitment__title {
    padding-bottom: 0.625rem;
    margin-bottom: 3.12rem;
    font-size: 1.75rem;
  }
  .commitment__text {
    font-size: 1.125rem;
  }
}

/* ================================================
CTA
================================================ */
.cta-area {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  text-align: center;
}
.cta-area__title {
  margin-bottom: 1.875rem;
  text-align: center;
}
.cta-area__logo {
  font-family: "philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}
.cta-area__text {
  margin-bottom: 1.875rem;
  text-align: center;
  font-size: 0.75rem;
}
.cta-area__btn {
  width: 50vw;
  max-width: 20.9375rem;
}

/* CTAのデスクトップ表示
------------------------------------------------ */
@media screen and (min-width: 768px) {
  .cta-area {
    padding-top: 6.88rem;
    padding-bottom: 6.87rem;
  }
  .cta-area__title {
    margin-bottom: 3.12rem;
  }
  .cta-area__logo {
    font-size: 2rem;
  }
  .cta-area__text {
    margin-bottom: 3.12rem;
    font-size: 1rem;
  }
  .cta-area__btn {
    max-width: 22.0625rem;;
  }
}

/* ================================================
結婚式までの流れ
================================================ */
/* スマートフォンでの表示
------------------------------------------------ */
@media screen and (max-width: 767px) {
  .flow {
    display: grid;
    place-items: center;
    padding-top: 1.875rem;
    padding-right: 1.28rem;
    padding-bottom: 1.875rem;
    padding-left: 1.21rem;
  }
  .flow__inner {
    display: grid;
    place-items: center;
    padding-top: 3.12rem;
    padding-right: 2.44rem;
    padding-bottom: 3.12rem;
    padding-left: 2.45rem;
    border-radius: 1.25rem;
  }
  .flow__container {
    display: flex;
    justify-content: space-between;
    gap: 7%;
    margin-bottom: .625rem;
  }
  .flow__image-wrapper {
    flex: 0 1 54%;
  }
  .flow__title-area {
    flex: 1;
  }
  .flow__step-wrapper {
    margin-bottom: .68rem;
    width: max(16vw, 60px);
  }
  .flow__title {
    font-size: 0.875rem;
    font-weight: bold;
  }
  .flow__text {
    font-size: 0.75rem;
  }
  /* 下向き矢印 */
  .flow__arrow-wrapper {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    width: 5rem;
  }
}
/* デスクトップでの表示
------------------------------------------------ */
@media screen and (min-width: 768px) {
  .flow {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
  .flow__inner {
    display: grid;
    place-items: center;
    padding-top: 5.44rem;
    padding-right: 3.12rem;
    padding-bottom: 5rem;
    padding-left: 5.81rem;
    border-radius: 3.125rem;
  }
  .flow__container {
    display: flex;
    justify-content: space-between;
    gap: 7%;
  }
  .flow__image-wrapper {
    flex: 1 1 41%;
  }
  .flow__title-area {
    flex: 0 1 49%;
  }
  .flow__step-wrapper {
    margin-bottom: 1.25rem;
    width: max(16vw, 110px);
  }
  /* 下向き矢印 */
  .flow__arrow-wrapper {
    margin-top: 3.56rem;
    margin-bottom: 3.47rem;
    width: 9.24044rem;
  }
  .flow__title {
    margin-bottom: .94rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

/* ================================================
お客様の声
================================================ */
.voice {
  position: relative;
  padding-top: 3.12rem;
  /* 右にスクロールできることを示すため右の余白は無し */
  padding-bottom: 3.19rem;
  padding-left: 5.3333%;
  text-align: center;
}
.voice__container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}
.voice__item {
  width: 296px;
  margin-bottom: 3.08rem;
  margin-right: 2.5rem;
}
.voice__item:last-child {
  margin-right: 5.33333%;
}
.voice__image-wrapper {
  margin-bottom: .75rem;
}
.voice__image {
  margin-bottom: .5rem;
}
.voice__name {
  font-size: 0.75rem;
  text-align: left;
}
.voice__title {
  margin-bottom: .75rem;
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: left;
}
.voice__quotation {
  color: var(--main-color);
  font-family: "maru-maru-gothic-alr-stdn", sans-serif;
  font-size: 1.5rem;
}
.voice__text {
  font-size: 0.75rem;
  white-space: wrap;
}
.voice__btn {
  width: 50vw;
  max-width: 20.9375rem;
}
@media screen and (max-width: 767px) {
  /* スクロールアイコン */
  .voice__scroll {
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    right: 1.25rem;
    width: 3.875rem;
    height: 3.74994rem;
    background-color: var(--main-color);
    border: 2.5px solid var(--main-color);
    color: var(--white);
    font-size: 0.75rem;
    font-weight: bold;
    opacity: 0.6;
  }
  .voice__scroll-icon {
    display: block;
    margin-bottom: -1rem;
  }
}
/* お客様の声のデスクトップ表示
------------------------------------------------ */
@media screen and (min-width: 768px) {
  .voice {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  .voice__container {
    flex-direction: column;
    overflow: visible;
    white-space: wrap;
  }
  .voice__item {
    display: flex;
    gap: 10%;
    width: 100%;
    margin-bottom: 9.37rem;
    margin-right: 0;
  }
  .voice__item--row-reverse {
    flex-direction: row-reverse;
  }
  .voice__image-wrapper {
    flex: 1 0 49%;
    margin-bottom: 0;
  }
  .voice__image {
    margin-bottom: .75rem;
  }
  .voice__name {
    font-size: 1rem;
  }
  .voice__text-area {
    flex: 0 0 40%;
  }
  .voice__title {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    line-height: 1.5;
  }
  .voice__quotation {
    font-size: 2rem;
  }
  .voice__text {
    font-size: 1rem;
  }
}

/* ================================================
アクセス
================================================ */
.access {
  padding-top: 3.125rem;
  padding-right: 1.19rem;
  padding-bottom: 1.875rem;
  padding-left: 1.25rem;
  text-align: center;
}
.access__inner {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  border-radius: 1.5625rem;
}
.access__map-wrapper {
  margin-bottom: 1.25rem;
}
.access__map {
  width: 100%;
  height: 14.375rem;
}
.access__body {
  text-align: left;
}
.access__logo {
  margin-bottom: 1.25rem;
  width: 8.5625rem;
}
.access__text {
  margin-bottom: 1.25rem;
  font-size: 0.75rem;
  line-height: 1.6;
}
.access__btn {
  width: 100%;
  padding: 0.9375rem 1.875rem;
  font-size: 0.875rem;
  text-align: center;
}
/* アクセスのデスクトップ表示
------------------------------------------------ */
@media screen and (min-width: 768px) {
  .access {
    padding-top: 7.5rem;
    padding-right: 10.625rem;
    padding-bottom: 7.5rem;
    padding-left: 10.625rem;
  }
  .access__inner {
    padding-top: 3.81rem;
    padding-bottom: 7.5rem;
    border-radius: 3.125rem;
  }
  .access__container {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    max-width: 816px;
    margin-right: auto;
    margin-left: auto;
  }
  .access__map-wrapper {
    flex: 1 1 45%;
    margin-bottom: 0;
  }
  .access__map {
    height: 40vh;
  }
  .access__body {
    flex: 0 0 45%;
  }
  .access__logo {
    margin-bottom: 1.69rem;
    width: 13.8125rem;
  }
  .access__text {
    margin-bottom: 1.69rem;
    font-size: 0.875rem;
    line-height: 1.6;
  }
}

/* ================================================
資料請求・お問い合わせ
================================================ */
.contact {
  padding-top: 3.125rem;
  padding-bottom: 5rem;
  transform: translateY(-1px);
  font-size: 0.875rem;
}
.contact__text {
  margin-bottom: 1.91rem;
  font-size: 0.75rem;
}
.contact__form-item {
  margin-bottom: 1.25rem;
}
.contact__label {
  display: inline-block;
  margin-right: .62rem;
  margin-bottom: .62rem;
}
/* 必須タグ */
.contact__tag {
  display: inline-block;
  padding: 0.125rem 0.375rem;
  background-color: var(--accent-color);
  color: var(--white);
  font-size: 0.75rem;
}
/* 選択式フォーム */
.contact__form-select {
  width: 13.5625rem;
  height: 2.75rem;
  padding-right: 1.25rem;
  padding-left: .937rem;
  background-color: var(--base-color);
  background-image: url(../images/Polygon.png);
  background-position: right .94rem center;
  background-repeat: no-repeat;
  background-size: 15px 13px;
}
/* テキスト入力フォーム */
.contact__form-text {
  width: 100%;
  height: 2.75rem;
  padding: .72rem .937rem;
  background-color: var(--base-color);
}
.contact__form-text::placeholder {
  color: var(--text-color);
  font-size: 0.875rem;
  opacity: 0.6;
}
/* ご相談希望日の下余白 */
.contact__date-titel {
  margin-bottom: 1.31rem;
}
/* 希望日選択フォーム */
.contact__form-date {
  width: 13.5625rem;
  height: 2.75rem;
  padding: .72rem .937rem;
  background-color: var(--base-color);
}
/* 文章入力フォーム */
.contact__form-textarea {
  width: 100%;
  height: 9.375rem;
  background-color: var(--base-color);
  resize: none;
}
/* ラジオボタンの装飾 */
.contact__form-radio {
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  vertical-align: -2px;
}
.contact__form-radio:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: .5625rem;
  height: .5625rem;
  border-radius: 50%;
  background: var(--text-color);
}
/* ボタン */
.contact__form-btn {
  width: 100%;
  text-align: center;
}
.contact__form-btn-wrapper {
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
}
/* 電話番号のエリア */
.contact__tel-area {
  width: 100%;
  padding-top: 2.18rem;
  padding-right: 2.34rem;
  padding-bottom: 2.18rem;
  padding-left: 2.53rem;
  background-color: var(--base-color);
}
.contact__tel-title {
  font-size: 1rem;
  font-weight: bold;
}
.contact__tel-text {
  margin-bottom: .62rem;
  font-size: 0.6875rem;
}
/* 資料請求・お問い合わせのデスクトップ表示
------------------------------------------------ */
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 9.38rem;
    padding-bottom: 9.37rem;
  }
  .contact__inner {
    display: grid;
    place-items: center;
  }
  .contact__text {
    margin-bottom: 4.88rem;
    font-size: 0.875rem;
    text-align: center;
  }
  .contact__form-item {
    display: flex;
    justify-content: flex-start;
    gap: 1.38888vw; /* 1440pxの場合は約20pxの余白*/
    margin-bottom: 2.5rem;
  }
  .contact__label-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17.9861vw;
  }
  .contact__label-area.contact__label-area--flex-start {
    align-items: flex-start;
  }
  .contact__label {
    margin-right: 0;
    margin-bottom: 0;
  }
  /* 必須タグ */
  .contact__tag {
    font-size: 0.875rem;
  }
  /* 選択式フォーム */
  .contact__form-select {
    width: 16.25rem;
    padding: .625rem 1.25rem;
    background-position: right 1.3125rem center;
  }
  /* テキスト入力フォーム */
  .contact__form-text {
    width: 27.875rem;
    padding: .625rem 1.25rem;
  }
  .contact__form-text::placeholder {
    font-size: 1rem;
  }
  /* ご相談希望日の下余白 */
  .contact__date-titel {
    margin-bottom: 1.875rem;
  }
  /* 希望日選択フォーム */
  .contact__form-date {
    width: 16.25rem;
    padding: .625rem 1.25rem;
  }
  .contact__form-textarea {
    width: 27.875rem;
  }
  /* ラジオボタンの装飾 */
  .contact__form-radio {
    width: 1.375rem;
    height: 1.375rem;
    vertical-align: -5px;
  }
  .contact__form-radio:checked::before {
    width: .75rem;
    height: .75rem;
  }
  /* ボタン */
  .contact__form-btn {
    padding: 1.25rem 3rem;
    font-size: 1.125rem;
  }
  .contact__form-btn-wrapper {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
  /* 電話番号のエリア */
  .contact__tel-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
  }
  .contact__tel-text-area {
    width: 40%;
  }
  .contact__tel-number {
    width: 50%;
  }
  .contact__tel-title {
    font-size: 1.125rem;
  }
  .contact__tel-text {
    margin-bottom: 0;
    font-size: 1rem;
  }
}

/* ================================================
フッター
================================================ */
.footer {
  padding-top: 3.75rem;
}
.footer__body {
  max-width: 16.0625rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5rem;
}
.footer__logo-area {
  display: grid;
  place-items: center;
  margin-bottom: 1.875rem;
}
.footer__logo {
  width: 10.25rem;
  margin-bottom: 1.25rem;
}
.footer__number-area {
  width: 14.0625rem;
}
.footer__text {
  font-size: 0.6875rem;
}
/* フッターナビ */
.footer__nav {
  margin-bottom: 1.875rem;
}
.footer__nav-list {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}
.footer__nav-link {
  color: var(--text-color);
  font-size: 0.875rem;
  transition: .8s;
}
.footer__nav-link:focus,
.footer__nav-link:hover {
  color: var(--white);
}
/* ボタンのサイズ変更 */
.footer__btn {
  width: 100%;
  text-align: center;
}
/* コピーライト */
.footer__copyright-area {
  display: grid;
  place-items: center;
  height: 3.125rem;
}
.footer__copyright {
  font-size: 0.6875rem;
}
/* フッターのデスクトップ表示
------------------------------------------------ */
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 5rem;
  }
  .footer__body {
    max-width: 45.375rem;
  }
  .footer__inner {
    text-align: center;
  }
  .footer__logo-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.375rem;
  }
  .footer__logo {
    width: 13.8125rem;
    margin-bottom: 0;
  }
  .footer__number-area {
    width: 19.5625rem;
  }
  .footer__text {
    font-size: 0.875rem;
  }
  /* フッターナビ */
  .footer__nav {
    margin-bottom: 4.375rem;
  }
  .footer__nav-list {
    justify-content: space-between;
  }
  .footer__nav-link {
    font-size: 1.125rem;
  }
  /* ボタンのサイズ変更 */
  .footer__btn {
    width: 22.0625rem;
  }
  /* コピーライト */
  .footer__copyright-area {
    height: 5rem;
  }
  .footer__copyright {
    font-size: 0.75rem;
  }
}
